h1 {
    text-align: center;
    justify-content: center;
 }
 body {
  background-image: url("wow.gif");
  background-size: cover;
  text-align: center;
  margin: 10% auto;
 }
 input#name {
  padding: 5px;
 }
 input#age {
  padding: 5px;
  margin-right: -10px;
 }
 input#email {
  padding: 5px;
 }
 input#hobbies {
  padding: 5px;
 }
 button {
  padding: 10px;
 }
